# Compiler files
cache/
artifacts/

# Foundry
broadcast/
forge-cache/
out/
lib/

# Env
.env
.env.*
wallet.json
wallet.mainnet.json
deployments.json
deployments.mainnet.json
node_modules/

# OS
.DS_Store
Thumbs.db
